<center> ### Data Wrangling Neighborhoods in Toronto

In [1]:
import pandas as pd

Get the table from the Wikipedia Page:

In [98]:
Toronto_df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
Toronto_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Ignoring cells with a borough that is Not assigned.

In [99]:
Toronto_df = Toronto_df[Toronto_df.Borough != 'Not assigned']
Toronto_df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Not assigned
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

Assign the borugh name to the Not assigned neighborhoods.

In [100]:
for index, val in Toronto_df['Neighbourhood'].items():
        if 'Not assigned'==val:
            Toronto_df['Neighbourhood'][index]=Toronto_df['Borough'][index]
Toronto_df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

In [101]:
Toronto_df['Postcode'].value_counts().head()

M9V    8
M8Y    8
M5V    7
M4V    5
M9B    5
Name: Postcode, dtype: int64

Get the unique codes.

In [112]:
codes = Toronto_df['Postcode'].unique()
codes

array(['M3A', 'M4A', 'M5A', 'M6A', 'M7A', 'M9A', 'M1B', 'M3B', 'M4B',
       'M5B', 'M6B', 'M9B', 'M1C', 'M3C', 'M4C', 'M5C', 'M6C', 'M9C',
       'M1E', 'M4E', 'M5E', 'M6E', 'M1G', 'M4G', 'M5G', 'M6G', 'M1H',
       'M2H', 'M3H', 'M4H', 'M5H', 'M6H', 'M1J', 'M2J', 'M3J', 'M4J',
       'M5J', 'M6J', 'M1K', 'M2K', 'M3K', 'M4K', 'M5K', 'M6K', 'M1L',
       'M2L', 'M3L', 'M4L', 'M5L', 'M6L', 'M9L', 'M1M', 'M2M', 'M3M',
       'M4M', 'M5M', 'M6M', 'M9M', 'M1N', 'M2N', 'M3N', 'M4N', 'M5N',
       'M6N', 'M9N', 'M1P', 'M2P', 'M4P', 'M5P', 'M6P', 'M9P', 'M1R',
       'M2R', 'M4R', 'M5R', 'M6R', 'M7R', 'M9R', 'M1S', 'M4S', 'M5S',
       'M6S', 'M1T', 'M4T', 'M5T', 'M1V', 'M4V', 'M5V', 'M8V', 'M9V',
       'M1W', 'M4W', 'M5W', 'M8W', 'M9W', 'M1X', 'M4X', 'M5X', 'M8X',
       'M4Y', 'M7Y', 'M8Y', 'M8Z'], dtype=object)

In [103]:
codes.shape

(103,)

Reset index beacause of the dropped rows, and drop de new index column created.

In [104]:
Toronto_df.reset_index(inplace=True)

In [105]:
Toronto_df.head()

   index Postcode           Borough     Neighbourhood
0      2      M3A        North York         Parkwoods
1      3      M4A        North York  Victoria Village
2      4      M5A  Downtown Toronto      Harbourfront
3      5      M5A  Downtown Toronto       Regent Park
4      6      M6A        North York  Lawrence Heights

In [106]:
Toronto_df.drop(columns='index', inplace=True)
Toronto_df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

Prepare a dataframe to put the values

In [107]:
final_df = pd.DataFrame(columns=['Postcode', 'Borough', 'Neighbourhood'])
final_df

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

Combine into one row every row who has the same postal code.

In [108]:
for code in codes:
    for index, val in Toronto_df['Postcode'].items():
        if code==val:
            neighs=Toronto_df['Neighbourhood'][index]+","+neighs
            bor= Toronto_df['Borough'][index]
        
            
    
    final_df = final_df.append({'Postcode': code, 'Borough':bor, 'Neighbourhood':  neighs}, ignore_index=True)

In [109]:
final_df.head()

,Postcode,Borough,Neighbourhood
0,M3A,North York,"Parkwoods,South of Bloor,Royal York South West..."
1,M4A,North York,"Victoria Village,Parkwoods,South of Bloor,Roya..."
2,M5A,Downtown Toronto,"Regent Park,Harbourfront,Victoria Village,Park..."
3,M6A,North York,"Lawrence Manor,Lawrence Heights,Regent Park,Ha..."
4,M7A,Queen's Park,"Queen's Park,Lawrence Manor,Lawrence Heights,R..."